@import url("https://p.typekit.net/p.css?s=1&k=msg0yyi&ht=tk&f=39496&a=5415668&app=typekit&e=css");

@font-face {
  font-family: "neue-haas-grotesk-display";
  src:
    url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),
    url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),
    url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'Mint Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./Mint-Grotesk-Medium-V131.woff2');
}

@font-face {
  font-family: 'Mint Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Mint-Grotesk-Bold-V131.woff');
}

@font-face {
  font-family: 'Mint Grotesk';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./Mint-Grotesk-ExtraBold-V131.woff');
}

@font-face {
  font-family: 'Victor Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./VictorMono-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Victor Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./VictorMono-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Arnold';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./WEB/Arnold_v0.3-Regular.woff');
}

@font-face {
  font-family: 'Arnold';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./WEB/Arnold_v0.3-Italic.woff');
}